[submodule "cubeb"]
	path = cubeb
	url = https://github.com/mozilla/cubeb.git
[submodule "ReNameNoise"]
	path = ReNameNoise
	url = https://github.com/mumble-voip/ReNameNoise.git
[submodule "readerwriterqueue"]
	path = readerwriterqueue
	url = https://github.com/cameron314/readerwriterqueue.git
[submodule "cmakeImguiGLFW"]
	path = cmakeImguiGLFW
	url = https://github.com/slava15923/cmakeImguiGLFW.git
